<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Capaj">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>

<body style="padding: 20px">
	{% block content %}{% endblock %}
</body>
</html>
