{% extends '../layout.html' %}
{% block content %}
<h1>create a user</h1>
<form action="api/users" method="post" id="userForm" style="display: flex;flex-direction: column;">
	<label for="firstname">First name:</label>
	<input id="firstname" type="text" name="firstname">
	<label for="lastname">Lats name:</label>
	<input id="lastname" type="text" name="lastname">
	<label for="password">Password:</label>
	<input id="password" type="password" name="password">
	<label for="email">Email:</label>
	<input id="email" type="text" name="email">
	<label for="bio">Bio:</label>
	<textarea id="bio" name="bio"></textarea>
	<input type="submit" value="Create">
</form>
{% endblock %}




