{% extends '../layout.html' %}
{% block content %}
<h1>Editing {{ id }}</h1>
<form id="userForm" style="display: flex;flex-direction: column; margin: 20px;">
	<label for="firstname">First name:</label>
	<input id="firstname" type="text" name="firstname" value="{{ firstname }}">
	<label for="lastname">Lats name:</label>
	<input id="lastname" type="text" name="lastname" value="{{ lastname }}">
	<label for="password">Password:</label>
	<input id="password" type="password" name="password" value="{{ password }}">
	<label for="email">Email:</label>
	<input id="email" type="text" name="email" value="{{ email }}">
	<label for="bio">Bio:</label>
	<textarea id="bio" name="bio">{{ bio }}</textarea>
	<input type="submit" value="Save">
</form>
<script type="text/javascript">
	$.fn.serializeObject = function(){
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name] !== undefined) {
				if (!o[this.name].push) {
					o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};

	$('#userForm').submit(function(ev) {
		var serialized = $("#userForm").serializeObject();
		$.ajax({
			type: "PUT",
			url: '/api/users/' + '{{ id }}',
			data: serialized,
			success: function() {
				location.href = '/';
			}
		});
		return false;
	});

</script>
{% endblock %}
