{% extends '../layout.html' %}
{% block content %}
<h1>List of users</h1>
<ul>
	{% for user in users %}
	<li{% if loop.first %} class="first"{% endif %}>
		{{ user.firstname }} {{ user.lastname }}
		<a href="/edit/{{ user.id }}">
			Edit
		</a>
		<a href="#" id="{{ user.id }}" class="delete-link">
			Delete
		</a>
	</li>
	{% endfor %}
</ul>
<hr/>
<a href="/create">New user</a>
<script type="text/javascript">
	$('.delete-link').click(function(ev) {
		var id = ev.target.id;
		$.ajax({
			type: "DELETE",
			url: '/api/users/' + id,
			success: function() {
				$(ev.target).parent().remove();
			}
		});
	});
</script>
{% endblock %}
